In [2]:
import numpy as np
import math

In [17]:
y_pred = np.array([1,1,0,0,1])
y_true = np.array([0.30, 0.7, 1, 0, 0.5])

n = len(y_true)

**MAE**

In [6]:
def mean_abs_error(y_true, y_pred):
  abs_error = 0
  for yt, yp in zip(y_true, y_pred):
    abs_error += abs(yt - yp)
  MAE = abs_error/n

  print("ABSOLUTE ERROR: ", abs_error)
  print("MEAN ABSOLUTE ERROR: ", MAE)

In [8]:
mean_abs_error(y_true, y_pred)

#USING NUMPY
mae = np.mean(np.abs(y_true - y_pred))
mae

ABSOLUTE ERROR:  2.5
MEAN ABSOLUTE ERROR:  0.5

0.5

**MSE**

In [11]:
def mean_squared_error(y_true, y_pred):
  sq_error = 0
  for yt, yp in zip(y_true, y_pred):
    sq_error += (yt-yp)**2
  MSE = sq_error/n

  print("SQUARED ERROR: ", sq_error)
  print("MEAN SQUARED ERROR: ", MSE)

In [12]:
mean_squared_error(y_true, y_pred)

#USING NUMPY
mse = np.mean(np.square(y_true - y_pred))
mse

SQUARED ERROR:  1.83
MEAN SQUARED ERROR:  0.366

0.366

**LOG LOSS/ BINARY CROSSENTROPY**

In [29]:
epsilon = 1e-15
np.log([1e-15])

array([-34.53877639])

In [25]:
1-epsilon

0.999999999999999

In [30]:
#replace all 1s with value near to 1 but not 1, like 0.999999999999
#replace all 0s with value near to 0 but not 0, like 0.000000000001

y_pred_new = [max(i, epsilon) for i in y_pred]
print(y_pred_new)

[1, 1, 1e-15, 1e-15, 1]

In [31]:
y_pred_new = [min(i, 1-epsilon) for i in y_pred_new]
y_pred_new

[0.999999999999999, 0.999999999999999, 1e-15, 1e-15, 0.999999999999999]

In [32]:
y_pred_new = np.array(y_pred_new)

In [33]:
np.log(y_pred_new)

array([-9.99200722e-16, -9.99200722e-16, -3.45387764e+01, -3.45387764e+01,
       -9.99200722e-16])

In [34]:
-np.mean(y_true*np.log(y_pred_new) + (1-y_true)*np.log(1-y_pred_new))

17.2696280766844

In [35]:
def log_loss(y_true, y_predicted):
    y_predicted_new = [max(i,epsilon) for i in y_predicted]
    y_predicted_new = [min(i,1-epsilon) for i in y_predicted_new]
    y_predicted_new = np.array(y_predicted_new)
    return -np.mean(y_true*np.log(y_predicted_new)+(1-y_true)*np.log(1-y_predicted_new))

In [36]:
log_loss(y_true, y_pred)

17.2696280766844